[submodule "Aragas.Core"]
	path = Aragas.Core
	url = https://github.com/Aragas/Aragas.Core.git
[submodule "MineLib.Core"]
	path = MineLib.Core
	url = https://github.com/MineLib/MineLib.Core.git
[submodule "ProtocolModern_1.7.10"]
	path = ProtocolModern_1.7.10
	url = https://github.com/MineLib/ProtocolModern_1.7.10.git
